body {        
  font-family: Arial, Helvetica, sans-serif;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container {
  display: block;
  width: 50vw;
  height: 50vh;
} 
.colors {
  display: flex;
  flex-direction: row;
  vertical-align: middle;
  align-content: center;
  justify-content: space-around;
  padding-bottom: 1rem;  
}
.color {
  width: 10vw;
}
.redRange, .greenRange, .blueRange {
  width: 30vw;
}
.redText, .greenText, .blueText {
  width: 5vw;
  color: black;
  text-align: center;
}
.container-square {
  padding-top: 2rem;
  display: flex;
  align-content: center;
  justify-content: center;
}
.square {    
  width: 150px;
  height: 150px;    
  background: black;
  border: 1px solid black;
  justify-self: center;              
}